# Backend
backend/www/vendor/
backend/www/var/
backend/www/.env
backend/www/.env.local

# Frontend
frontend/node_modules/
frontend/dist/

# Docker volumes
.env
*.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db